head {
     width: 100%;
     padding: 20px 8%;

}

.navbar {
     font-size: larger;
     display: flex;
     align-items:center;
     justify-content:space-between;
}

.nav_lista{
     display: flex;
     list-style:none;
     gap:80px;
     text-transform: uppercase;
}