*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

head {
     width: 100%;
     padding: 50px 8%;

}

#logo {
font-size: 1.5rem;
color: rgb(29, 81, 116);
font-weight: 600;
}

.navbar {
     width: 100%;
     font-size: 50px;
     display: flex;
     align-items:center;
     justify-content:end;
}

.nav_lista{
     display: flex;
     list-style:none;
     gap:80px;
     text-transform:none;
}

.nav_item{
     font-size:50px;
     color: rgb(29, 69, 105);
}
.nav_item:hover{
background-color: rgb(169, 195, 212);
color: rgb(221, 234, 240);
text-decoration: underline;

}
.home {
     display: flex;
     min-height: calc(100vh - 91px);
}

section {
     width: 100%;
     padding: 20px 8%;
     display: flex;
}

.titulo {
     font-size: 4rem;
     color: rgb(128, 180, 204);
     justify-content: center;
}

.titulocor{
     color: rgb(138, 185, 201);
}