*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

head {
     width: 100%;
     padding: 20px 8%;

}

#logo {
font-size: 1.5rem;
color: rgb(29, 81, 116);
font-weight: 600;
}

.navbar {
     width: 100%;
     font-size: larger;
     display: flex;
     align-items:center;
     justify-content:space-between;
}

.nav_lista{
     display: flex;
     list-style:none;
     gap:80px;
     text-transform: uppercase;
}

.nav_item{
     font-size: 50px;
     color: rgb(159, 173, 185);
}
.nav_item:hover{
background-color: rgb(104, 125, 139);
color: rgb(15, 88, 122);
text-decoration: underline;

}
